{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Instellingen{% endtrans %}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>{% trans %}Mijn profiel{% endtrans %}</h2>
        <div class="row">
            <div class="col-md-2">
                <div class="user-picture">
                    {{ content.user_picture }}
                </div>
            </div>
            <div class="col-md-10">
                <div class="user-name">
                    {% trans %}Naam:{% endtrans %} {{ content.field_first_name|render|striptags|trim }} {{ content.field_last_name|render|striptags|trim }}
                </div>
                <div class="user-address">
                    {% trans %}Adres:{% endtrans %} {{ content.field_street|render|striptags|trim }}, {{ content.field_postal_code|render|striptags|trim }} {{ content.field_city|render|striptags|trim }}
                </div>
                <div class="user-mail">
                    {% trans %}E-mail:{% endtrans %} {{ user.mail.value }}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>{% trans %}Mijn scholen/organisaties{% endtrans %}</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="user-school">
                    {{ content.field_teacher_school }}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>{% trans %}Mijn voorkeuren{% endtrans %}</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="user-school">
                    {{ user.langcode.value }}
                </div>
            </div>
        </div>
    </div>
</article>
